<div class="list-group">
  <div
    class="d-flex w-100 justify-content-center list-group-item list-group-item-action flex-column align-items-start bg-success">
    <h1 class="mb-1 justify-content-center">All News</h1>
  </div>

  <a [routerLink]="['/newDetails',newItem.ID]" routerLinkctive="router-link-active" *ngFor="let newItem of departNews;let i=index ;"
    class="list-group-item list-group-item-action flex-column">
    <div class="d-flex w-100 justify-content-center">
      <b class="mb-1">{{newItem.Name}}</b>
    </div>
    <div class="d-flex w-100 justify-content-center">
      <small class="bg-success text-white align-middle">{{newItem.Date | date}}</small>
    </div>
    <div class="d-flex w-100 justify-content-center text-center">
      <img src="{{newItem.Image}}" class="img-fluid  align-middle">
    </div>
    <!-- <small>Donec id elit non mi porta.</small> -->
  </a>
</div>